<section class="w-full h-full space-y-4">

  <div class="w-full flex justify-center items-center gap-4">
    <app-button styleButton="default" >default</app-button>
    <app-button styleButton="alternative" >alternative</app-button>
    <app-button styleButton="dark" >dark</app-button>
    <app-button styleButton="light" >light</app-button>
    <app-button styleButton="green" >green</app-button>
    <app-button styleButton="red" >red</app-button>
    <app-button styleButton="yellow" >yellow</app-button>
    <app-button styleButton="purple" >purple</app-button>
  </div>

  <div class="w-full flex justify-center items-center gap-4">
    <app-button styleButton="defaultPills" >defaultPills</app-button>
    <app-button styleButton="alternativePills" >alternativePills</app-button>
    <app-button styleButton="darkPills" >darkPills</app-button>
    <app-button styleButton="greenPills" >greenPills</app-button>
    <app-button styleButton="lightPills" >lightPills</app-button>
    <app-button styleButton="redPills" >redPills</app-button>
    <app-button styleButton="yellowPills" >yellowPills</app-button>
    <app-button styleButton="purplePills" >purplePills</app-button>
  </div>

  <div class="w-full flex justify-center items-center gap-4">
    <app-button styleButton="defaultGradMono" >defaultGradMono</app-button>
    <app-button styleButton="greenGradMono" >greenGradMono</app-button>
    <app-button styleButton="cyanGradMono" >cyanGradMono</app-button>
    <app-button styleButton="tealGradMono" >tealGradMono</app-button>
    <app-button styleButton="limeGradMono" >limeGradMono</app-button>
    <app-button styleButton="redGradMono" >redGradMono</app-button>
    <app-button styleButton="pinkGradMono" >pinkGradMono</app-button>
    <app-button styleButton="purpleGradMono" >purpleGradMono</app-button>
  </div>

  <div class="w-full flex gap-4">
    <app-button styleButton="defaultColoredShadows" >defaultColoredShadows</app-button>
    <app-button styleButton="greenColoredShadows" >greenColoredShadows</app-button>
    <app-button styleButton="cyanColoredShadows" >cyanColoredShadows</app-button>
    <app-button styleButton="tealColoredShadows" >tealColoredShadows</app-button>
    <app-button styleButton="limeColoredShadows" >limeColoredShadows</app-button>
    <app-button styleButton="redColoredShadows" >redColoredShadows</app-button>
    <app-button styleButton="pinkColoredShadows" >pinkColoredShadows</app-button>
    <app-button styleButton="purpleColoredShadows" >purpleColoredShadows</app-button>
  </div>

  <div class="w-full flex gap-4">
    <app-button styleButton="purpleToBlueGradientDuotone" >purpleToBlueGradientDuotone</app-button>
    <app-button styleButton="cyanToBlueGradientDuotone" >cyanToBlueGradientDuotone</app-button>
    <app-button styleButton="greenToBlueGradientDuotone" >greenToBlueGradientDuotone</app-button>
    <app-button styleButton="purpleToPinkGradientDuotone" >purpleToPinkGradientDuotone</app-button>
    <app-button styleButton="pinkToOrageGradientDuotone" >pinkToOrageGradientDuotone</app-button>
    <app-button styleButton="tealToLimeGradientDuotone" >tealToLimeGradientDuotone</app-button>
    <app-button styleButton="redToYellowGradientDuotone" >redToYellowGradientDuotone</app-button>
  </div>

  <div class="w-full flex gap-4">
    <app-button styleButton="purpleToBlueGradientOutline" >purpleToBlueGradientOutline</app-button>
    <app-button styleButton="cyanToBlueGradientOutline" >cyanToBlueGradientOutline</app-button>
    <app-button styleButton="greenToBlueGradientOutline" >greenToBlueGradientOutline</app-button>
    <app-button styleButton="purpleToPinkGradientOutline" >purpleToPinkGradientOutline</app-button>
    <app-button styleButton="tealToLimeGradientOutline" >tealToLimeGradientOutline</app-button>
    <app-button styleButton="redToYellowGradientOutline" >redToYellowGradientOutline</app-button>
    <app-button styleButton="pinkToOrangeGradientOutline" >pinkToOrangeGradientOutline</app-button>
  </div>

  <div class="w-full flex justify-center items-center gap-4">
    <app-button styleButton="cifradoGreen" >cifradoGreen</app-button>
  </div>

</section>
