<section class="w-full h-[calc(100vh_-_64px)] flex flex-col justify-between">
  <div class="w-full">
    <div class="w-full justify-center items-center">
      <img
        class="w-full max-w-md sm:ml-12"
        src="../../../../../assets/img/logos/logo-blanco.png"
        alt="logo SoundLab"
      />
    </div>
    <div class="w-full flex justify-center items-center px-4">
      <p class="font-montserrat font-medium text-white text-center max-w-[40rem]">
        SoundLab es una empresa dedicada a la reparación de equipos de la escena
        DJ, venta de repuestos, accesorios, ventay alquiler de equipospara eventos
        y discotecas.
        <br />
        Soporte, implementación y mantenimiento de sonido, luces, pantallas led,
        pixel led y todo lo relacionado para el montaje de clubes y discotecas.
      </p>
    </div>
  </div>
  <div class="max-w-[18rem] sm:ml-12">
    <img src="../../../../../assets/img/logos/foother.png" alt="pie de foto">
  </div>
</section>
