@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/monserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/monserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/monserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/monserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/monserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/monserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/monserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/monserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}


@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/monserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/monserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: lighter;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/monserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/monserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url("./assets/fonts/lato/Lato-Regular.ttf") format("truetype");
  font-display: swap;
}

body {
  background-color: white;
  overflow-x: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
